name: Deploy to Ubuntu Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:


      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            # Define project path
            PROJECT_PATH=~/chess-app

            # Check if directory exists
            if [ -d "$PROJECT_PATH" ]; then
              cd "$PROJECT_PATH"
              git pull origin main
            else
              # Clone the repo if it doesn't exist
              git clone https://github.com/${{ github.repository }} $PROJECT_PATH
              cd "$PROJECT_PATH"
            fi

            # Build and deploy using Docker Compose
            # Ensure you have Docker and Docker Compose installed on the server
            docker compose up -d --build
